### Amazon Advertisement  Data

In this project, the advertisement goal in Amazon website is set up using the data given by Amazon. 
The goal is to find the best terms that results in. more profits and sales and we need to distinguish the best and worst terms form this data frame. 

We have two products named **Quartz** and **JadeRoller** which we need to analyse seperately. 

The Primary goal is to find the best/worst terms and it can be developed to find other useful information from this raw data set. 

The data is obtained by thr Campaigns that seller sets on Amazon for advertisement. 

The Campaigns are divided to two parts:
- Automatic Campaigns
- Manual Camaigns

In Automatic Campaign Amazon finds the terms that customers search in their platform and list them in each row.
In Manual one, the seller finds his own favourite terms and ask Amazon to advertise for him.

**The necessary libararies are imoprted in the next cell. We also import our data from an excel file.**

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import itertools
%matplotlib inline

df = pd.read_excel('Business_data.xlsx')
df.head()

,Start Date,End Date,Portfolio name,Currency,Campaign Name,Ad Group Name,Targeting,Match Type,Customer Search Term,Impressions,...,7 Day Total Sales,Total Advertising Cost of Sales (ACoS),Total Return on Advertising Spend (RoAS),7 Day Total Orders (#),7 Day Total Units (#),7 Day Conversion Rate,7 Day Advertised SKU Units (#),7 Day Other SKU Units (#),7 Day Advertised SKU Sales,7 Day Other SKU Sales
0,2021-01-07,2021-01-07,jade,GBP,Manual Jade 26/12/2020,Manual Jade 26/12/2020,face roller massager,PHRASE,electric face roller massager,5,...,0.00,NaN,0.000000,0,0,0.000000,0,0,0.00,0.0
1,2020-12-27,2021-01-01,jade,GBP,Manual Jade 26/12/2020,Manual Jade 26/12/2020,face roller massager,PHRASE,face roller massager,584,...,11.66,0.236707,4.224638,1,1,0.166667,1,0,11.66,0.0
2,2021-01-01,2021-01-01,jade,GBP,Manual Jade 26/12/2020,Manual Jade 26/12/2020,jade roller and gua sha set,PHRASE,jade roller & gua sha set,14,...,0.00,NaN,0.000000,0,0,0.000000,0,0,0.00,0.0
3,2020-12-28,2021-01-08,jade,GBP,Manual Jade 26/12/2020,Manual Jade 26/12/2020,jade roller and gua sha set,PHRASE,jade roller and gua sha set,481,...,10.82,0.426987,2.341991,1,1,0.090909,1,0,10.82,0.0
4,2021-02-07,2021-02-07,jade,GBP,Manual Jade 26/12/2020,Manual Jade 26/12/2020,jade face roller,PHRASE,authentic jade face roller,2,...,11.66,0.036878,27.116279,1,1,1.000000,1,0,11.66,0.0

In [33]:
df.shape

(731, 24)

 First of all we need to clean the data to make it ready to work .

In [34]:
# Data is need to be divided to quartz and jade roller parts. 
data = [] # define a list 
string = df['Campaign Name'].values #  save Campaign names in the string object
for st in string:
    y = "".join(itertools.takewhile(lambda x: x!=" ", st)) # extract the terms jad and quartz from the asscociated columns
    if y == 'Manual':
        y = 'Jade'
    data.append(y) # append each of the keywords to the list data
df['Product_type'] = data # add a new column product_type to the dataframe df

In [35]:
# some of the terms are not in capital so we replace them with capital ones. 
df['Product_type'] = df['Product_type'].map(lambda x: x.replace('jade','Jade'),na_action='ignore')
df['Product_type'] = df['Product_type'].map(lambda x: x.replace('quartz','Quartz'),na_action='ignore')

In [36]:
# divide the data frame df to quartz and jade as below
df_quartz = df[df['Product_type'] == 'Quartz' ] # data associated with quartz product 
df_jade = df[df['Product_type'] == 'Jade' ] # data associated with jade product

### We have now 2 data frame

1. Jade with 330 rows 
2. Quartz with 205 rows

In [37]:
df['Product_type'].value_counts()

Jade        429
Quartz      228
manual       49
Campaign     25
Name: Product_type, dtype: int64

In [38]:
print("the number of rows and columns in the jade data are: " ,df_jade.shape)
print("the number of rows and columns in the quartz data are: " ,df_quartz.shape)

the number of rows and columns in the jade data are:  (429, 25)
the number of rows and columns in the quartz data are:  (228, 25)


Each of the rows represent the Campaign for advertisement. 
The columns are different features of each campaigns.

**The whole data information is summarized in the next cell:**

In [39]:
# brief information 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 25 columns):
Start Date                                  731 non-null datetime64[ns]
End Date                                    731 non-null datetime64[ns]
Portfolio name                              731 non-null object
Currency                                    731 non-null object
Campaign Name                               731 non-null object
Ad Group Name                               731 non-null object
Targeting                                   731 non-null object
Match Type                                  731 non-null object
Customer Search Term                        731 non-null object
Impressions                                 731 non-null int64
Clicks                                      731 non-null int64
Click-Thru Rate (CTR)                       730 non-null float64
Cost Per Click (CPC)                        730 non-null float64
Spend                                       731 non-null float64
7 Day Total Sales                           731 non-null float64
Total Advertising Cost of Sales (ACoS)      106 non-null float64
Total Return on Advertising Spend (RoAS)    730 non-null float64
7 Day Total Orders (#)                      731 non-null int64
7 Day Total Units (#)                       731 non-null int64
7 Day Conversion Rate                       730 non-null float64
7 Day Advertised SKU Units (#)              731 non-null int64
7 Day Other SKU Units (#)                   731 non-null int64
7 Day Advertised SKU Sales                  731 non-null float64
7 Day Other SKU Sales                       731 non-null float64
Product_type                                731 non-null object
dtypes: datetime64[ns](2), float64(9), int64(6), object(8)
memory usage: 142.9+ KB

In [40]:
# The number of distinctive terms for advertisement of Jade Roller
df_jade['Customer Search Term'].value_counts()

face roller                  7
jade face roller             7
face roller massager         6
skin care                    6
gua sha                      6
                            ..
face rollers for skincare    1
b0816y23gd                   1
gua sha massage tool         1
b07shg8lph                   1
skin scraper                 1
Name: Customer Search Term, Length: 301, dtype: int64

In [41]:
# The number of distinctive terms for advertisement of Quartz
df_quartz['Customer Search Term'].value_counts()

jade roller                  6
rose quartz face roller      6
face roller                  6
gua sha                      5
b088djsm22                   4
                            ..
roller face rose quartz      1
b07rkjc784                   1
facial roller rose quartz    1
rose jade roller             1
jade massager for face       1
Name: Customer Search Term, Length: 154, dtype: int64

### function to  find a new data frame based on the 3 important columns:

1. Customer Search Term
2. Spend
3. 7 Day Total Sales

we calculate sum of the sales and advertisement spends for each search terms which may be repeated in the data frame.

In [42]:

def Terms_ACoS(df):
    
    """
    INPUT:
    df - Pandas Data Frame 
    
    OUTPUT:
    df_new,df_sum_zero - The tuple for the new dataframe with two above mentioned columns and the the same dataframe with 
    zero sale. 
    
    """
    
    df_new = pd.DataFrame() # new data frame is defined
    df_new['sum_of_the_spends'] = df.groupby('Customer Search Term')['Spend'].sum() # sum of the all spends for each term is calculated 
    df_new['sum_of_the_sales'] = df.groupby('Customer Search Term')['7 Day Total Sales'].sum() # sum of the spends for each. term is calculated
    
    df_sum_zero = df_new[df_new.sum_of_the_sales == 0] # sum of the sales which gives zero output are defined in the new data frame
    df_new = df_new[df_new.sum_of_the_sales != 0]  # sum of the sales with non zero values are defined
    
    df_new['ACOS_mean'] = df_new['sum_of_the_spends']/df_new['sum_of_the_sales'] # new column is defined to calculate the ACOS(Total Advertising Cost of Sales)
    df_new = df_new.sort_values(ascending = True ,by = 'ACOS_mean') # we sort the values based on the column ACOS_mean in ascending order
    
    
    return df_new,df_sum_zero

## Accepted terms for JadeRoller

In [43]:
# the tuple of two data frames are defined using the function Terms_ACoS
terms_df,df_sum_zero = Terms_ACoS(df_jade)

In [44]:
# # terms for zero values of the sales
df_sum_zero

                          sum_of_the_spends  sum_of_the_sales
Customer Search Term
100 jade roller                        1.47               0.0
3d face roller                         0.27               0.0
amatt face roller                      1.40               0.0
amethsyt face roller                   1.25               0.0
amethyst face roller                   0.51               0.0
...                                     ...               ...
topaz face roller                      0.60               0.0
vibrating face roller                  1.75               0.0
vibro face scraper                     0.18               0.0
womens face roller                     2.52               0.0
yu ling jade face roller               0.64               0.0

[251 rows x 2 columns]

In [45]:
# # terms for non-zero values of the ACOS_mean
terms_df

                             sum_of_the_spends  sum_of_the_sales  ACOS_mean
Customer Search Term
jade face roller ldreamam                 0.49             32.46   0.015096
quartz face roller full set               0.49             23.32   0.021012
guasha stone face scraper                 0.37             11.66   0.031732
crystal stone face roller                 0.40             11.66   0.034305
authentic jade face roller                0.43             11.66   0.036878
revolution face roller                    0.45             11.66   0.038593
beauty face roller                        0.57             11.66   0.048885
lapis face roller                         0.56             10.82   0.051756
jade face roller vibration                0.62             11.66   0.053173
jade face roller set                      2.10             34.14   0.061511
stone face massager set                   0.76             10.82   0.070240
face roller turata                        0.94             11.66   0.080617
b08lv36nq4                                0.97             10.82   0.089649
b081w4d3rk                                1.10             10.82   0.101664
face stone gua                            1.22             11.66   0.104631
b07v5rm4tc                                1.14             10.82   0.105360
face roller and gua sha                   2.62             23.32   0.112350
face scraper                              2.49             21.64   0.115065
b08lvhykbb                                1.27             10.82   0.117375
b07cty1w1d                                1.37             11.66   0.117496
b07z6bjnhq                                1.42             11.66   0.121784
100% jade gua sha                         1.49             10.82   0.137708
gua sha and jade roller                   1.98             10.82   0.182994
face roller toner                         2.20             11.66   0.188679
face roller jade                          2.56             11.66   0.219554
gua sha roller                            2.41             10.82   0.222736
jade rollers for face                     2.47             10.82   0.228281
anti wrinkle                              2.49             10.82   0.230129
marble face roller                        2.86             11.66   0.245283
gua sha and face roller                   2.89             11.66   0.247856
b08dg817wf                                2.96             11.66   0.253859
b07rfrgd5n                                3.44             11.66   0.295026
gua sha jade                              3.91             11.66   0.335334
face massager roller                      3.96             10.82   0.365989
gua sha set                               4.36             10.82   0.402957
face roller set                           4.79             10.82   0.442699
face roller massager                     35.97             79.94   0.449962
gua sha stone                             4.95             10.82   0.457486
jade roller and gua sha set              20.47             44.12   0.463962
b072c6jzqm                                5.88             10.82   0.543438
anti aging                                5.99             10.82   0.553604
face massager                            12.40             21.64   0.573013
rose quartz face roller                   7.11             10.82   0.657116
face roller                             327.91            492.00   0.666484
jade roller                              53.12             75.74   0.701347
jade face roller                         62.57             87.40   0.715904
jade stone face roller                    8.55             10.82   0.790203
eye massager                              8.84             10.82   0.817006
gua sha                                  62.86             54.10   1.161922
skin care                                41.01             21.64   1.895102

**Accepted terms are calculated based on the threshold 0.33**

In [46]:
# accepted terms are calculated based on the threshold 0.33
accepted_terms = terms_df[terms_df['ACOS_mean'] < 0.33].index

### Jade Roller 

# Results:

In [47]:
for idx in accepted_terms:
    print(idx)

jade face roller ldreamam
quartz face roller full set
guasha stone face scraper
crystal stone face roller
authentic jade face roller
revolution face roller
beauty face roller
lapis face roller
jade face roller vibration
jade face roller set
stone face massager set
face roller turata
b08lv36nq4
b081w4d3rk
face stone gua
b07v5rm4tc
face roller and gua sha
face scraper
b08lvhykbb
b07cty1w1d
b07z6bjnhq
100% jade gua sha
gua sha and jade roller
face roller toner
face roller jade
gua sha roller
jade rollers for face
anti wrinkle
marble face roller
gua sha and face roller
b08dg817wf
b07rfrgd5n

## Unaccepted terms for JadeRoller

In [48]:
# we combine zero unacceptable results and unaccepteable threshold(0.33) result terms 
unaccpeted_terms = terms_df[terms_df['ACOS_mean'] > 0.33].index # unaccepted terms for threshold 0.33
unaccepted_zeros = df_sum_zero[df_sum_zero['sum_of_the_spends'] > 4 ].index # unaccepted zero values of the sales
unaccpeted_terms = unaccpeted_terms.union(unaccepted_zeros) # combine the two indexes

# Results:

In [49]:
for idx in unaccpeted_terms:
    print(idx)

anti aging
b072c6jzqm
b079z4rzkx
b07g454sy7
b07m5spb7b
b07qvf25mq
beauty set
eye massager
face care
face massager
face massager roller
face roller
face roller and gua sha set
face roller massager
face roller revolution
face roller set
gua sha
gua sha jade
gua sha set
gua sha stone
jade face roller
jade roller
jade roller and gua sha set
jade roller face
jade roller set
jade stone face roller
jade stone gua sha
neck massager
quartz face roller
roller face massager
rose quartz face roller
skin care
skin care sets
skin roller
stone face roller

## Accepted terms for Quartz

In [50]:
terms_df_q,df_sum_zero_q = Terms_ACoS(df_quartz)

In [51]:
terms_df_q

                           sum_of_the_spends  sum_of_the_sales  ACOS_mean
Customer Search Term
b083qr4cpw                              0.64             16.58   0.038601
b06xx56ndr                              1.14             16.58   0.068758
facial roller rose quartz               1.22             16.58   0.073583
b08cv8w4h9                              1.26             16.58   0.075995
rose roller                             1.30             15.82   0.082174
eye roller                              1.60             16.58   0.096502
face jade roller                        1.93             16.58   0.116405
b07pp7tnfs                              3.00             15.82   0.189633
rose face roller                        5.04             15.82   0.318584
b07phzs8mv                              5.34             15.82   0.337547
b08lcnbbs6                              4.02             11.66   0.344768
b07wzxwwpw                              6.14             16.58   0.370326
gua sha rose quartz                     8.31             15.82   0.525284
b088djsm22                             31.69             49.74   0.637113
rose quartz face roller                23.08             32.40   0.712346
gua sha                                36.00             33.16   1.085645
jade roller                           128.84             60.64   2.124670

In [52]:
# We  find the accepteable terms for threshold(0.33)   
accpeted_terms_q = terms_df_q[terms_df_q['ACOS_mean'] < 0.33].index # unaccepted terms for threshold 0.33

### Quartz 

#  Accepted Resluts:

In [53]:
for idx in accpeted_terms_q:
    print(idx)

b083qr4cpw
b06xx56ndr
facial roller rose quartz
b08cv8w4h9
rose roller
eye roller
face jade roller
b07pp7tnfs
rose face roller

## Unaccepted terms for Quartz

In [54]:
# We combine zero unacceptable results and unaccepteable threshold(0.33) result terms 
unaccpeted_terms_q = terms_df_q[terms_df_q['ACOS_mean'] > 0.33].index # unaccepted terms for threshold 0.33
unaccepted_zeros_q = df_sum_zero_q[df_sum_zero_q['sum_of_the_spends'] > 4 ].index # unaccepted zero values of the sales
unaccpeted_terms_q = unaccpeted_terms_q.union(unaccepted_zeros_q) # combine the two indexes

# Unaccepted Resluts:

In [55]:
for idx in unaccpeted_terms_q:
    print(idx)

b079z4rzkx
b07f3whtp1
b07pf5bknq
b07phzs8mv
b07qvf25mq
b07rfrgd5n
b07wzxwwpw
b07z6bjnhq
b088djsm22
b08dg817wf
b08gbdvfhx
b08lcnbbs6
face roller
gua sha
gua sha rose quartz
jade face roller
jade roller
quartz face roller
rose quartz face roller
rose quartz roller facial